// Section2 Styles

#corporate {
  padding-top: 10px;
  p {
    // padding-bottom: 15px;
    text-align: justify;
  }
}

#corpbanner {
  background-image: url('../img/skylineblue.gif');
  background-size: cover;
  background-position: center;
  min-width: 100%;
  margin-top: 70px;
  margin-bottom: 20px;
  overflow: hidden;
  h1 {
    color: #fff;
  }
}
