// Nav Style


#logo {
  height: 55px;
  width: 140px;
}

nav {
  margin-top: 30px;
}

.top-bar-section {
  padding-top: 8px;
}


#valuations {
  padding-top: 50px;
  h2 {
    color: #072982;
  }
}

#slider {
  height: 370px;
  margin-top: 45px;
}

