// Valuation Styles

#valuations {
  // padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
  p {
    padding-bottom: 15px;
  }
}

#valbanner {
  background-image: url('../img/skylineblue.gif');
  background-size: cover;
  ms-background-position-x: 0%;
  ms-background-position-y: 40%;
  min-width: 100%;
  overflow: hidden;
  // margin-top: 70px;
  // margin-bottom: 20px;
  h1 {
    color: #fff;
  }
}